* {
    margin: 0px; /* 바깥쪽 여백 */
    padding: 0px; /* 안쪽 여백 */
    font-family:Arial, Helvetica, sans-serif
}

body {
    background-color: rgb(231, 236, 232);
    
    
}
main{
    /* 화면의 #% */
   
    width:60vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:20vw;
}

section, article{
    width: 80%;
    background-color: cornflowerblue;
    padding: 20px;
}
article{
    margin-top: 20px;
}

nav li {
    padding: 20px;
}
