
/* Top menu is javascrip_menu */
/*  ------------------------------------------------------- */


form {
    margin:10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(133, 158, 151);
    border-radius: 20px;
}

button:hover {
 
    background-color: rgba(157, 196, 0, 0.518);
    color:white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.clbt {
    display: flex;
    justify-content: center;
    align-items: center;
   
    color:rgb(209, 209, 0);
    margin-top: 10px;
    margin-bottom: -5px;
    width:70%;
    height:80px;
    text-align: center;
}


#sec2Div1{
    display: flex;
    justify-content: center;

 
}


#txt{
    padding:6px;
}

#bt1 img{
    border: none;
    width: 50%;
}

.btImg{
    height: 25px;
    
}

/* animation */
  
.slider li.active { 
    opacity: 1; 
} 

